html,body{
	width:100%; height:100%;
	margin: 0;
	padding: 0;
	font-family: "Hiragino Kaku Gothic OriN", "Meiryo", sans-serif;
}

#map{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	z-index: 1;
	position: relative;
}

a {
	text-decoration: none;
}

.fa-folder-open {
	color: #58FA82;
}

.fa-cogs {
	color: #58FA82;
}

.fa-desktop{
	color: #F781BE;
}

.fa-qrcode{
	color: #00FFFF;
}

.fa-map-marker{
	color: #0000FF;
}

.ch{
	margin-bottom: 5px;
}

#ln{width: 100px;display: inline-block;}

/*PCでの仕様*/
/*.comment{
	margin: 0;
	padding-right: 5px;
	bottom: 0px;
	width: auto;
	text-align: center;
	position: fixed;
	z-index: 11;
	background-color: #fff;
}*/

.comment{display:none;}

#mln{
	position: fixed;
	z-index: 11;
	margin: 0;
	padding: 3px 5px 3px 5px;
	bottom: 10px;
	left: 10px;
	cursor: pointer;
	color: #fff;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	background: -moz-linear-gradient(#0000cd, #000080);
	background: -webkit-linear-gradient(#0000cd, #000080);
	background: linear-gradient(#0000cd, #000080);
}

#mln2{
	display: none;
	position: fixed;
	z-index: 11;
	margin: 0;
	padding: 3px 5px 3px 5px;
	top: 10px;
	right: 10px;
	cursor: pointer;
	color: #fff;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	background: -moz-linear-gradient(#0000cd, #000080);
	background: -webkit-linear-gradient(#0000cd, #000080);
	background: linear-gradient(#0000cd, #000080);
}

#mln3{
	position: fixed;
	z-index: 11;
	margin: 0;
	padding: 3px 5px 3px 5px;
	top: 10px;
	right: 10px;
	cursor: pointer;
	color: #fff;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	background: -moz-linear-gradient(#0000cd, #000080);
	background: -webkit-linear-gradient(#0000cd, #000080);
	background: linear-gradient(#0000cd, #000080);
}

.mlc{cursor: pointer;}

#pop_moji{
	color: #ff0000;
	font-size: 16px !important;

}